<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pikachu Jump</title>
    <link rel="stylesheet" href="pstyle.css">
    <script src="pscript.js" defer></script>
</head>
<body>
   <header>
    <h1> PIKACHU JUMP!!</h1>
    <h3>The Fã Pokemon Game</h3>
   </header> 
   <div class="game_board">
    <img src="nuvens.png" class="nuvens">
    <img src="pikachuRun.gif" class="pikachu">
    <img src="pedra.jpg" class="pedra">
    
   </div>
</body>
</html>